#help {
  -fx-border-radius: 0 20 20 0;
  -fx-background-radius: 20 20 20 20;
  -fx-background-color: #618C03;
  -fx-text-fill: "white";
}

#menuBar {
  -fx-background-color: #618C03;
}

.menu {
  -fx-background-color: transparent;
  -fx-color: black;
}


#allRecipesBtn {
  -fx-border-radius: 20 20 20 20;
  -fx-background-radius: 20 20 20 20;
  -fx-background-color: #618C03;
  -fx-text-fill: "white";
}

#newRecipeBtn {
  -fx-border-radius: 20 20 20 20;
  -fx-background-radius: 20 20 20 20;
  -fx-background-color: #618C03;
  -fx-text-fill: "white";
}

.hyperlink {
  -fx-text-fill: black;
}

#searchBtn {
  -fx-border-radius: 0 20 20 0;
  -fx-background-radius: 0 20 20 0;
  -fx-background-color: "orange";
}

#search {
  -fx-border-color: "grey";
  -fx-border-radius: 20;
  -fx-border-style: solid inside;
  -fx-border-width: 2;
  -fx-border-insets: 5;
  -fx-background-color: transparent;
}

#sendRecipeBtn {
  -fx-font-size: 11;
  -fx-font-weight: 100;
  -fx-border-radius: 20 20 20 20;
  -fx-background-radius: 20 20 20 20;
  -fx-background-color: #e8dada;
  -fx-text-fill: "black";
}

#pane {
  -fx-border-width: 2;
  -fx-border-color: #e8dada;
  -fx-border-radius: 20 20 20 20;
  -fx-background-radius: 20 20 20 20;
}

#seeRecipe {
  -fx-background-color: #618C03;
  -fx-text-fill: white;

}

#footer {
  -fx-background-color: "#FFFFFF";
  -fx-border-style: solid none none none;
  -fx-border-color: grey;
}

#copyright {
  -fx-background-color: #618C03;
}

#addRecipe {
  -fx-translate-y: 0;
  -fx-translate-y: -110
}