.anchor-pane {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.label{
    -fx-alignment: center;
}

.choice-box {

}

.button {
  -fx-background-color: #618C03; /* Green */
  -fx-background-radius: 5px;
  -fx-text-fill: white;
  -fx-font-size: 12px;
  -fx-padding: 10px 32px;
}

.button:hover {
  -fx-background-color: rgba(73, 101, 3, 0.79); /* Darker green */
}